.git
.gitignore
**/.env
**/.env.*
!docker/.env.example
!tarrlok/.env.example

tarrlok/vendor
tarrlok/node_modules
tarrlok/bootstrap/cache/packages.php
tarrlok/bootstrap/cache/services.php
tarrlok/bootstrap/cache/config.php
tarrlok/storage/framework/cache/data/*
tarrlok/storage/framework/sessions/*
tarrlok/storage/framework/views/*
tarrlok/database/*.sqlite

blockchain/cache

**/__pycache__
*.md
!docs/DOCKER.md
Final_Year_Project_Report*
