# Copy to project root before: docker compose up
# cp docker/.env.example .env

APP_KEY=base64:2fl+K+k3lFYf+vRmYgXKWG0LhCdFPmFsO1HPdR7iKmk=

MYSQL_DATABASE=tarrlok
MYSQL_USER=tarrlok
MYSQL_PASSWORD=tarrlok
MYSQL_ROOT_PASSWORD=root

APP_PORT=8080
MYSQL_PORT=3306
BLOCKCHAIN_PORT=8545
